<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <title>Results</title>
</head>
<body>
    <div class="w-50 mx-auto p-5 mt-5 border border-primary">
        <h1 class="text-center"><u>Submitted info</u>:</h1>
        <div class="row">
            <p class="text-left col">Name:</p>
            <p class="text-left col">@ViewBag.name</p>
        </div>
        <div class="row">
            <p class="text-left col">Email:</p>
            <p class="text-left col">@ViewBag.email</p>
        </div>
        <div class="row">
            <p class="text-left col">Location:</p>
            <p class="text-left col">@ViewBag.dojo</p>
        </div>
        <div class="row">
            <p class="text-left col">Language:</p>
            <p class="text-left col">@ViewBag.language</p>
        </div>
        <div class="row">
            <p class="text-left col">Message:</p>
            <p class="text-left col">@ViewBag.message</p>
        </div>
        <p class="text-right"><a href="/" class="btn btn-primary">Go Back</a></p>
    </div>
</body>
</html>