@model WeddingPlanner.Models.Wedding
<h1>Welcome to the Wedding Planner</h1>
<p><a href="logout">Log Out</a></p>

<a href="/AddWedding"><button>New Wedding</button></a>
@foreach(var wedding in ViewBag.weddings){
    <h2>@wedding.wedderone & @wedding.weddertwo</h2>
    <h3>@wedding.attendees.Count</h3>
    @if(@wedding.creator == ViewBag.user){
        <p>delete</p>
    } else if (@wedding.attendees.Count > 0 && @wedding.attendees.Contains(ViewBag.user) ) {
        <p>Un-RSVP</p>
    } else {
        <p>RSVP</p>
    }
}